{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react"
  ],
  "plugins" : [
    "array-includes",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-styled-components"
  ]
}
