<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Fresh groceries and small appliances for your online shopping needs" />
  <meta name="keywords" content="retail, grocery, online, food, shopping, fresh" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Catamaran|PT+Sans|Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  <app></app>

</body>
</html>
